<div class="container flex-container justify-between">
  <h1>Forum</h1>
  <span ><%= button "New Thread", to: Routes.thread_path(@conn, :new), method: :get, class: "forum-button" %></span>
</div>
<table>
  <tbody>
<%= for thread <- @threads do %>
    <tr>
      <td><h2><%= thread.title %></h2></td>
        <td><%= link "Details", to: Routes.thread_path(@conn, :show, thread) %></td>
        <td><%= thread.replies_count %> Replies</td>
    </tr>
<% end %>
  </tbody>
</table>
